.x{
    background-color: green;
}
.x1{
    text-decoration: wavy;
}
input[type="submit"]{
    width: 20%;
    padding: 0.3rem 0.7rem;
    background: rgba(52, 1, 1, 0.916);
    color: rgb(0, 0, 0);
    border: royalblue;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 30px;
}
input[type="submit"]:hover{
    background: #3c00ff;
}